:root{
    --branco: #ffffff;
    --preto: #000000;
    --ouro:rgb(221, 198, 122);
    --vinho: #4A0E17;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--ouro);
}

header{    
    padding: 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--vinho);
    color: var(--branco);
    box-shadow: 0 5px 5px var(--preto);
}

header h1{
    font-family: Verdana;
    text-align: center;
} 

header p{
    font-family: Verdana;
    text-align: center;
}

#logo{
    width: 20%;
    height: 20%;
}


header nav ul{
    display:flex;
    justify-content: center;  
    align-items: center;      
    list-style: none;         
    gap: 24px;               
    padding: 15px;
    list-style: none;
}

header nav ul li{
    display: flex;
    justify-content: center;
    padding: 25px;
    font-size: 20px;
}


header nav ul li a{
    text-decoration: none;
    color: var(--color1);
    font-weight: 800;
}

header nav ul li a:hover{
    color: var(--ouro);
}

.container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, auto);  
  gap: 24px;                            
  max-width: 1200px;
  margin: 40px auto;
  padding: 0 20px;
}
 
.card {
  background-color: #ffffff;
  border: 1px solid var(--fundo-secundario, #F4EFE6);
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  text-align: center;
}
 
@media (max-width: 576px) {
  .container-cards {
    grid-template-columns: 1fr;
    gap: 16px;
  }
}
 
#cadastro{
    background-color:rgb(120, 120, 120, 0.3);
    border-radius: 50px;
}

#sobre{
    background-color:rgb(120, 120, 120, 0.3);
    border-radius: 50px;
}
